.calculator {
    /*Formato da Calculadora*/
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;


    /*Forma como os botoes sao alocados ao espaço*/
    display: grid;
    grid-template-columns: repeat(4,25%) ;
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}